nav.navbar
    .container-fluid
        a.navbar-brand(routerLink='/') STUDENT GOVERNMENT

        ul.nav.navbar-nav.pull-xs-right
          li.nav-item(routerLinkActive='active', *ngFor='let route of navbarRoutes')
            a.nav-link(routerLink='{{route.url}}') {{route.name}}