
nav {
    background-color: #05162E;
    padding: 15px 0;
}

.navbar .active  a.nav-link{
    color: red;
}
.navbar a {
    color: white;
}

.navbar a:hover {
    color: white;
    text-decoration: none;
}

.navbar a.nav-link:hover {
    color: red;
}

.navbar a.nav-link {
    color: white;
}

.navbar img{
    height: 40px;
}

.navbar {
    border-radius: 0;
}