nav.navbar
    .container-fluid

        img.navbar-brand(alt="Brand" src='/assets/img/New_SG_Logo.png')
        a.navbar-brand(routerLink='/') STUDENT GOVERNMENT

        ul.nav.navbar-nav.pull-xs-right
          li.nav-item(routerLinkActive='active', *ngFor='let route of navbarRoutes')
            a.nav-link(routerLink='{{route.url}}') {{route.name}}