
<div class="row"  *ngIf="!isEdited">
    <div class="col-xs-3">
        <a routerLink="../../clubs" class="btn btn-primary ">Back</a>
    </div>
</div>

<div class="row">
    <div *ngIf="!isEdit"  class="col-md-4 col-xs-12">
        <club-profile></club-profile>

        <div class="btn-group">
            <button (click)="deleteClub()" class="btn btn-danger">Delete Club</button>
            <button (click)="isEdit = true"   class="btn btn-warning">Edit Club</button>
        </div>

    </div>
    <div *ngIf="isEdit" class="col-md-4 col-xs-12">

        <club-form [inputClub]="club"
                   (outputClub)="updateClub($event)">

        </club-form>

        <a  class="btn btn-primary " (click)="isEdit = false">Cancel</a>
    </div>

</div>
