navbar
header(headerName='professors')
    .row
      .col-md-12.professor-search
        professor-search((selectedSearchItem)='goToProfessor($event)')
      .col-xs-12.filtered-dept
        professor-departments((filteredDept)="filterDepts($event)",(outputDepts)='sideDepts($event)')
.container-fluid
    .row.professors
       .col-md-2.dept-sidebar
           h5.dept-header DEPARTMENTS
           .departments
                ul.list-group(*ngFor='let department of departments')
                 li.list-group-item.listed-depts
                  a.dept-link((click)='loadAll(1,10,department)',[class.selected]='department === selectedDept') {{department}}
       .col-md-9.row-centered
           .row
                 .col-xs-3.col-md-2.col-centered.profile(*ngFor='let professor of listing.collection',routerLink='/professor/{{professor.id}}')
                    img(src='{{professor.photo}}')
                    h5.card-title {{professor.name}}
                    p.card-text {{professor.department}}

           .col-centered
                pagination([totalItems]='listing.count', [(ngModel)]='currentPage', (pageChanged)='pageChanged($event)')

home-footer
