navbar
.container
     .row

        .col-sm-3.profile(*ngFor='let professor of listing.collection')
              img.card-img(src='{{professor.photo}}')

              h4.card-title {{professor.name}}
              p.card-text
                | {{professor.department}}
              p.card-text
                small.text-muted Last updated 3 mins ago

              //a.btn.btn-primary(routerLink='/professor/{{professor.id}}')
              //     | Profile


     pagination([totalItems]='listing.count', [(ngModel)]='currentPage', (pageChanged)='pageChanged($event)')
home-footer

