//<----------------------professor search bar and professor dept styles--------------->
.professor-search {
  padding-top: 1.000em;
}
.container-evaluations{
  height: 100%;
}
//filtered dept input shown only on mobile view
.filtered-dept {
  display: none;
}
//<----------------------professor search bar and professor dept styles end --------------->


//<---- evaluations styles and professor profiles----->


//side bar list on click color change
a.selected {
  color: red;
}

//body
.professors {
  background-color: #D3D3D3;

  //<-----sidebar styles ------------->
  .dept-sidebar {
    background-color: #0D335F;
    color: white;
    font-weight: 400;
    height: 80%;
    min-height: 650px;

    //sidebar-header
    .dept-header {
      padding: 20px 0;
      font-size: 1.250em;
      line-height: 2.500em;
      text-align: center;
    }
    //sidebar list of departments
    .departments {
      background-color: #0D335F;
      //list of departments
      .list-group-item.listed-depts {
        list-style: none;
        background-color: #0D335F;
        border: none;
        margin-left: 0;
        padding: 5px;

        a.dept-link {
          //list styles
          cursor: pointer;
          color: white;
          font-size: 1.000em;
          line-height: 1.438em;

          //listed departments on hover
          &:hover {
            text-decoration: none;
            color: red;
          }
        }
      }
    }
  }
  //<------sidebar styles end----->

  //-------professor's profile styles----->
  .profile {
    background-color: #FFFFFF;
    display: block;
    margin: 1.250em;
    padding-top: 0.625em;
    box-shadow: 0 0.250em 0.250em 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 0.313em;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0.500em 0.750em 0 rgba(0, 0, 0, 0.2);
    }
    //professor profile image
    img.professor-image {
      border-radius: 0.313em 0.313em 0 0;
      height: auto;
      display: block;
      max-width: 10.000em;
    }
    //professor profile name
    .professor-name {
      clear: left;
      float: left;
      font-size: 18px;
      line-height: 20px;
      font-weight: 600;
      font-style: normal;
      color: black;
      padding-top: 10px;
      margin: 0;
    }
    //professor profile department
    .professor-department {
      clear: left;
      float: left;
      font-size: 16px;
      line-height: 1.1;
      font-weight: 400;
      color: #999;
      margin: 7px 0;
    }
  }
  //-------professor's profile styles end----->
}


//centering the profiles column's
.centered-professors,.col-centered.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.pagination-professors  {
  position: absolute;
  width: 100%;
  bottom: 10px;
}


//mobile view
@media screen and (max-width: 750px) {
  .filtered-dept {
    display: block;
    width: 200px;
  }
  .dept-sidebar {
    display: none;
    min-height:900px ;
  }
  .pagination-professors {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .centered-professors{
    padding-bottom: 50px;
  }

}
@media screen and (min-width: 1520px){
  .container-evaluations{
    padding-right:  6%;
    width: 100%;
    background-color:#D3D3D3 ;
  }
}
@media screen and (min-width: 1650px){
  .dept-sidebar {
  }
  .container-evaluations{
    padding-right:  8%;
    width: 100%;
    background-color:#D3D3D3 ;
  }
}
//tablet view
@media screen and (min-width: 755px) and (max-width: 1024px) {
  .header-name {
    text-align: center;
    font-size: 1.652em;
    line-height: 2.174em;
  }
  .dept-sidebar {
    display: none;
  }

  .filtered-dept {
    display: block;
  }
  .pagination-professors {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .centered-professors{
    padding-bottom: 50px;
  }
  .professors{
    margin-left: 6%;
    margin-right: 6%;
  }


}



