
<div class="row"  *ngIf="!isEdited">
    <div class="col-xs-3">
        <a routerLink="../../posts" class="btn btn-primary ">Back</a>

    </div>
</div>

<div class="row">
    <div  *ngIf="!isEdit" class="col-md-6 col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top img-thumbnail" src="{{post.image}}">
                            <div class="card-block">
                                <h4 class="card-title">{{post.title}}</h4>
                                {{post.content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                    <button (click)="deletePost(post)" class="btn btn-danger">Delete Post</button>
                    <button  class="btn btn-warning" (click)="isEdit = true">Edit Post</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isEdit" class="row">
    <div class="col-md-6 col-xs-12">

        <post-form [inputPost]="post" (outputPost)="editPost($event)"></post-form>
        <a  class="btn btn-primray " (click)="isEdit = false">Cancel</a>
    </div>
</div>




