.row
    .col-xs-12.clubs-profile-layout
        .card.club-profile-layout
            img.card-img-top.img-thumbnail.clubs(src='{{club.logo}}')
            .card-block
                h4.card-title {{club.name}}

                p President: {{club.president}}