//Created by Centroida-2 on 10/28/2016.

.row
    .col-md-12.add-evaluation
        .input-group.evaluation-group
            textarea.form-control([(ngModel)]='evaluation.content',rows='3',placeholder="Write an Evaluation")
            .button-eval((click)='addEvaluation(evaluation)')
                i.fa.fa-share(aria-hidden='true')