

.list-group-item.list-group-item-action.evaluation-list(*ngFor='let evaluation of listing.collection')
    p.list-group-item-text.description([ngClass]="{'show-more': selectedEvaluation === evaluation}") {{evaluation.content}}
    .row
        .col-xs-12(*ngIf="evaluation.content.split(' ').length > 60")
         a.show-more-btn.pull-right((click)="selectEval(evaluation)") {{selectedEvaluation !== evaluation ? "Show More" : "Show Less"}}

.row
    .col-md-12
        span.text-lg-center.text-muted(*ngIf='listing.collection && listing.collection.length == 0')
            | No evaluations found.

.row
    .col-md-12.pagination-evaluation
            pagination([totalItems]='listing.count', [(ngModel)]='currentPage', (pageChanged)='pageChanged($event)')
