.row
    .col-md-12
        .card-deck-wrapper
            .card-deck
                .card
                    .row
                        .col-md-12
                            img.card-img-top.img-thumbnail(src='{{professor.photo}}')

                            .row
                                .col-md-12
                                    .form-group
                                        input.form-control([(ngModel)]='professor.name', name='name', placeholder='Name')

                                    .form-group
                                        input.form-control([(ngModel)]='professor.department', name='department', placeholder='Department')

                            .row
                                .col-md-4(*ngIf='uploader && uploader.getNotUploadedItems().length == 0')
                                    .fileUpload.btn.btn-primary
                                        span(*ngIf='!isEditing') Upload image

                                        span(*ngIf='isEditing') Change image

                                        input.upload(type='file', ng2FileSelect [uploader]='uploader')

                                .col-md-4(*ngIf='uploader && uploader.getNotUploadedItems().length > 0')
                                     div(*ngFor='let item of uploader.queue')
                                         | {{item?._file.name}}
                                         button.btn.btn-danger.btn-xs(type='button', (click)='item.remove()')
                                            span.glyphicon.glyphicon-trash
                                            |  Remove
                            .row
                                .col-md-4
                                    button.btn.btn-success((click)='updateProfessor()') Save Professor

