//internships main container-fluid
.internships {
  background-color: #D3D3D3;
  height: 100%;

  //internship body container
  .internship-body {
    background-color: #D3D3D3;
    padding-top: 20px;



    //centering the internships
    .internships-centered {
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 70px;


      //internship list-item
      .internship-list {
        box-shadow: 0 0.250em 0.250em 0 rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        background-color: white;
        margin-bottom: 10px;
        height: 110px;
        border-radius: 5px;

        //internship photo
        img.internship-image {
          height: 80px;
          width: 80px;
          border-radius: 3px;

        }
        //internship link "More Info"
        //the overflow is hidden
        a.internship-link {
          position: absolute;
          right: 10px;
          bottom: 25px;
          cursor: pointer;
          text-decoration: none;
          font-size: 1.000em;
          line-height: 1.438em;

        }
        //internship description
        p.internship-description {
          text-align: justify;
          overflow: hidden;
          height: 90px;
          font-weight: 300;
          font-size: 16px;
          line-height: 1.438em;
        }
        //internship list-item on hover
        &:hover {
          box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
          //background-color: #0D335F;

          //on internship hover description shown
          .internship-description {
            //color: white;
            overflow: auto;
            //transition: all .2s ease .15s;
          }
          //.internship-description scroll-bar styles
          .internship-description::-webkit-scrollbar {
            width: 5px;
          }

          .internship-description::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }

          .internship-description::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
          }
          //.internship-description scroll-bar styles end----

          //more info link on internship hover
          a.internship-link {
            color: red;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}

//pagination center
.pagination-internship {
  margin-left: 20%;
  margin-right: 20%;
}
.no-pagination{
  padding-bottom: 80px;
}
.center-pagination{
  width: 100%;
  position: absolute;
  bottom: 50px;
}

//tablet view
@media screen and (min-width: 755px) and (max-width: 1024px) {
  .pagination-internship{
    margin-left: 11.5%;
  }
  .internships .internship-body .internships-centered .internship-list{
    height: 150px;
  }
  .internships .internship-body .internships-centered .internship-list p.internship-description{
    height: 98px;
  }
  .internships .internship-body .internships-centered .internship-list a.internship-link{
    bottom: 5px;
  }
}

@media screen and (max-width: 755px) {
  .internships .internship-body .internships-centered .internship-list{
    height: 200px;
  }
  .internships .internship-body .internships-centered .internship-list p.internship-description{
    height: 155px;
  }
  .internships .internship-body .internships-centered .internship-list a.internship-link{
    bottom: 0;
  }
  img.internship-image {
    display: none;
  }
  .pagination-internship{
    margin-left: 4.2%;
    padding-bottom: 20px;
  }
  .internship-body {
    padding-bottom: 20px;
  }

}