navbar
.main-header
  .container
    .row
      .col-md-6
        a.header-link((click)='loadProfessors(1,10)')
          h4.header-name INTERNSHIPS

      .col-md-5
        .row
          .col-md-12.professor-search
            professor-search((selectedSearchItem)='goToProfessor($event)')
          .col-xs-12.filtered-dept
            professor-departments((filteredDept)="filterDepts($event)",(outputDepts)='sideDepts($event)')


.container
      h1.display-4 Internships

      .row
        .col-xs-12
          .card-deck-wrapper
            .card-deck
              .card(*ngFor='let internship of listing.collection')
                img.card-img-top.img-thumbnail(src='{{internship.logo}}')

                .card-block
                  h4.card-title {{internship.description}}

                  a.btn.btn-primary(target='_blank', href='{{internship.link}}')
                    | More Info

pagination([totalItems]='listing.count', [(ngModel)]='currentPage', (pageChanged)='pageChanged($event)')
home-footer
