nav.navbar.navbar-dark.navbar-fixed-top.bg-inverse
    a.navbar-brand(href='#') AUBG SG Administration

    ul.nav.navbar-nav

    .pull-xs-right
        button.btn.btn-outline-success((click)='logout()', type='submit') Log out
