.row
  .col-lg-6
    .input-group
      .input-group-btn
        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Select a Department

        .dropdown-menu
            li(*ngFor='let department of departments')
              a.dropdown-item((click)='selectItem(department)') {{department}}

      div(*ngIf='typeaheadLoading===true')
        i.glyphicon.glyphicon-refresh.ng-hide(style='')