navbar
header(headerName='applications')

.container-fluid.applications
    .container.applications-body
      .row
        .col-md-9.template-body
          accordion([closeOthers]="oneAtATime")
            accordion-group(*ngFor="let application_template of listing.collection" ,[heading]="application_template.name | uppercase",(click)="selectedTemp(application_template)",[ngClass]="{'active':selectedTemplate === application_template}")
             .container.body((click)="$event.stopPropagation()")
               .row
                  .col-md-6
                   .application-description {{ application_template.description }}
                  .col-md-6
                      .row
                         .col-xs-5

                         .col-xs-7.new-application
                           new-application-submission([template]='selectedTemplate',(click)="$event.stopPropagation()")

home-footer