
div(*ngIf='template')
    .row((click)="downloaded = true")
        .col-xs-12.font-instructions
            .steps - Step 1
             i.fa.fa-hand-o-right(aria-hidden='true',[ngClass]="{'download':downloaded === true}")
        .col-xs-12.template-download
            a(href='{{template.document}}') Download template



    .row
        .col-xs-12
         .row
           .col-xs-12.font-instructions
               .steps - Step 2
                 i.fa.fa-hand-o-right(aria-hidden='true',[ngClass]="{'oveBase':downloaded === true}")
           .col-xs-12(*ngIf='uploader && uploader.getNotUploadedItems().length > 0')
               | Document was added
           .col-xs-12(*ngIf='uploader && uploader.getNotUploadedItems().length == 0')
            .well.my-drop-zone(ng2FileDrop , [ngClass]="{'file-over': hasBaseDropZoneOver}", (fileOver)='fileOverBase($event)', [uploader]='uploader')
                 .description-doc Drop your completed document here
    .row.submission-body
        .col-xs-12(*ngIf='uploader && uploader.getNotUploadedItems().length > 0')
            div(*ngFor='let item of uploader.queue')
                | {{item?.file?.alias}}
                .row
                    .col-xs-12.font-instructions
                        .steps - Step 3
                            i.fa.fa-hand-o-right(aria-hidden='true',[ngClass]="{'uploadDoc':downloaded === true}")
                button.btn.btn-primary-outline.btn-primary((click)='sendSubmission(item)')
                 | Upload

            | {{uploader.progress}}

            .progress(style='')
                .progress-bar(role='progressbar', [ngStyle]="{ 'width': uploader.progress + '%' }")