carousel([interval]='myInterval', [noWrap]='noWrapSlides')
    slide(*ngFor='let post of slides; let index=index', [active]='post.active')
        img([src]='post.image', style='margin:auto;' )

        .carousel-caption.carousel-caption-panel
            .carousel-caption-inner
                h2 {{post.title}}
                p {{post.created_at | date:"fullDate" }}
            .carousel-caption-footer(routerLink='/post/{{post.id}}') Read More

