navbar
.main-header
    .container
        .row
            .col-md-6
                a.header-link()
                    h4.header-name AUBG NEWS

            .col-md-5
news-carousel
front-news
home-footer
