.row(*ngIf='!isEditing')
  .col-xs-3
    a.btn.btn-primary(routerLink='../posts') Back
.row
  .col-md-12
    .card-deck-wrapper
      .card-deck
        .card
          img.img-thumbnail(src='{{post.logo}}')
          form([formGroup]='form')
             .form-group
               label(for='title') Title
                 input#title.form-control([formControl]="title",type='text', required , name='title', [(ngModel)]='post.title')
                 .alert.alert-danger(*ngIf='title.errors && (title.dirty || title.touched)')
                   div([hidden]='!title.errors.required')
                     | Title is required

             .form-group
               label(for='featured') Article is featured?
                 input#featured.form-control([formControl]="featured",type='checkbox',name='featured', [(ngModel)]='post.featured')

             .form-group
               label(for='styles') Styles
                 input#styles.form-control([formControl]="styles",type='text', required , name='styles', [(ngModel)]='post.styles')
                 .alert.alert-danger(*ngIf='styles.errors && (styles.dirty || styles.touched)')
                   div([hidden]='!styles.errors.required')
                     | Styles are required

          .row
            .col-md-4(*ngIf='uploader && uploader.getNotUploadedItems().length == 0')
              .fileUpload.btn.btn-primary
                span(*ngIf='!isEditing') Upload image
                span(*ngIf='isEditing') Change image
                input.upload(type='file', ng2FileSelect, [uploader]='uploader')

            .col-md-4(*ngIf='uploader && uploader.getNotUploadedItems().length > 0')
               div(*ngFor='let item of uploader.queue')
                 | {{item?.file?.name}} {{item?._file}}

          ckeditor([(ngModel)]='post.content', [config] = "{uiColor: '#FFFFFF'}", (change) = 'onChange($event)', (ready) = 'onReady($event)', debounce = '500')

          .row
            .col-md-4
               button.btn.btn-success(*ngIf='isEditing', [disabled] = '!form.valid', (click)='updatePost()') Save article
               button.btn.btn-success(*ngIf='!isEditing',[disabled]='!form.valid || !post.content || uploader.queue.length == 0', (click)='addPost()') Add new Post
