<div class="row"  *ngIf="!isEditing">
    <div class="col-xs-3">
        <a routerLink="../posts" class="btn btn-primary ">Back</a>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Post-form -->
                            <div class="row">
                                <!--form inputs-->
                                <div class="col-md-6">
                                    <!--post tittle input-->
                                <div class="form-group">
                                    <input  class="form-control"
                                            [(ngModel)]="post.title"
                                            name="title"
                                            placeholder="Title" />
                                </div>
                                    <!--post featured input of boolean-->
                                <div class="form-group">
                                    Article is featured?
                                    <input type="checkbox" [(ngModel)]="post.featured" />
                                </div>
                                    <!--postt styles input-->
                                <div class="form-group">
                                    Article styles
                                    <input  class="form-control"
                                            [(ngModel)]="post.styles"
                                            name="styles"
                                            placeholder="Styles" />
                                </div>
                                </div>
                                <!--end of input-->
                            </div>


                            <div class="row">
                                <!--post content editor-->
                                <div class="col-md-12">
                                    <ckeditor
                                            [(ngModel)]="post.content"
                                            [config]="{uiColor: '#FFFFFF'}"
                                            (change)="onChange($event)"
                                            (ready)="onReady($event)"
                                            debounce="500">
                                    </ckeditor>
                                </div>
                            </div>

                            <div class="col-md-4" *ngIf="uploader && uploader.getNotUploadedItems().length == 0">
                                <div class="fileUpload btn btn-primary">
                                    <span *ngIf="!isEditing">Upload image</span>
                                    <span *ngIf="isEditing">Change image</span>
                                    <input type="file" class="upload" ng2FileSelect [uploader]="uploader" />
                                </div>

                            </div>

                            <div class="col-xs-3"
                                 *ngIf="uploader && uploader.getNotUploadedItems().length > 0">
                                <div *ngFor="let item of uploader.queue">
                                        {{item?.file?.name}}
                                        {{item?._file}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-success" *ngIf="isEditing" (click)="updatePost()">Save article</button>
                                    <button class="btn btn-success" *ngIf="!isEditing" (click)="addPost()">Save article</button>
                                </div>
                            </div>
                            <!-- post form end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

