//club  profile header
.club-profile-header {
  background-color: #E1DFE0;
  height: 120px;
  position: absolute;
  width: 100%;
}
.col-md-4.club-profile-photo{
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
}