.container.professor-prof
  .row
    .col-xs-12
                .card
                    img.card-img-top.img-thumbnail(src='{{professor.photo}}')

                    .card-block
                        h4.card-title {{professor.name}}

                        p.card-description {{professor.department}}