//professor card
.card.professor-card{
  margin-top: 15px;
  border: none;
  width: 240px;
  height: 280px;
}
//professor image
img.card-img-top.img-thumbnail.image{
  border-radius: 0.313em 0.313em 0 0;
  height: 220px;
  width: 240px;
  display: block;
}
//professor department
p.card-description{
  clear: left;
  float: left;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 400;
  color: #999;
}