
.professor-prof
  .row
    .col-xs-12
         .card.professor-card
            img.card-img-top.img-thumbnail.image(src='{{professor.photo}}')

            .card-block
                p.card-description {{professor.department}}
