.professor-prof{

}
.card-img-top{
  border-radius: 0.313em 0.313em 0 0;
  height: 160px;
  display: block;
  max-width: 10.000em;
}
h4.card-title{
  clear: left;
  float: left;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  font-style: normal;
  color: black;

  margin: 0;
}
p.card-description{
  clear: left;
  float: left;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 400;
  color: #999;
  margin: 7px 0;
}