navbar

breadcrumb
.profile-header
   .container
    .row
       .col-md-3.col-sm-12

       .col-md-9.col-sm-12
         .profName {{professorName | uppercase}}

.container-fluid.professor-detail
    .container
        .row
            .col-md-3.professor-image-eval
                professor-profile((professorName)='getName($event)')
            .col-md-9.professor-evaluations
                professor-evaluations
home-footer