//font-awesome
@import "../assets/css/font-awesome";
//Lato font
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
span.active {
  background-color: gray;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color:#D3D3D3;
  font-family: "Lato";
  padding-bottom: 40px;
}
.fa-spin{
  color: red;
  content: "\f110";
}
/* Styles go here */
.loading-icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin:50px auto;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.loading-icon:before {
  content: "\f110";
  font-family: FontAwesome;
  font-size:20px;
  position: absolute;
  top: 0;
}