<div class="row">
    <div class="col-md-12">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="card-img-top img-thumbnail" src="{{member.photo}}">

                            <!-- member-form -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input  class="form-control"
                                                [(ngModel)]="member.name"
                                                name="name"
                                                placeholder="Name" />
                                    </div>
                                    <div class="form-group">
                                        <input  class="form-control"
                                                [(ngModel)]="member.title"
                                                name="title"
                                                placeholder="Title" />
                                    </div>
                                    <div class="form-group">
                                        <input  class="form-control"
                                                [(ngModel)]="member.description"
                                                name="description"
                                                placeholder="Description" />
                                    </div>
                                </div>
                            </div>

                            <!--if member is on edit mode -->
                            <div *ngIf="member.photo" class="row">
                                <div class="col-md-12">
                                    <button (click)="isChanging = true">Change Photo</button>
                                </div>
                            </div>

                            <div class="row">
                                <!--when there is the member photo and change photo button is clicked -->
                                <!--then the upload drop zone is opened-->
                                <div *ngIf="member.photo && isChanging">
                                    <div class="col-md-4" *ngIf="uploader && uploader.getNotUploadedItems().length == 0">
                                        <div ng2FileDrop
                                             [ngClass]="{'file-over': hasBaseDropZoneOver}"
                                             (fileOver)="fileOverBase($event)"
                                             [uploader]="uploader"
                                             class="well my-drop-zone">
                                            Drop a photo here
                                        </div>
                                        <input type="file" ng2FileSelect [uploader]="uploader" />
                                    </div>
                                </div>
                                <!--end of edit mode-->

                                <!--upload a photo on the new club form-->
                                <div *ngIf="!member.photo">
                                    <div class="col-md-4"
                                         *ngIf="uploader && uploader.getNotUploadedItems().length == 0">
                                        <div ng2FileDrop
                                             [ngClass]="{'file-over': hasBaseDropZoneOver}"
                                             (fileOver)="fileOverBase($event)"
                                             [uploader]="uploader"
                                             class="well my-drop-zone">
                                            Drop a photo here
                                        </div>
                                        <input type="file" ng2FileSelect [uploader]="uploader" />
                                    </div>
                                </div>
                                <!--end of uploading drop zone-->

                                <div class="col-md-4"
                                     *ngIf="uploader && uploader.getNotUploadedItems().length > 0">
                                    <div *ngFor="let item of uploader.queue">
                                        {{item?._file}}
                                        <button type="button" class="btn btn-danger btn-xs"
                                                (click)="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-success" (click)="updateMember()">Save Member</button>
                                </div>
                            </div>
                            <!-- member form end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

