.row
    .col-md-12
        .card-deck-wrapper
            .card-deck
                .card
                    .row
                        .col-md-12
                            img.card-img-top.img-thumbnail(src='{{internship.logo}}')

                            .row
                                .col-md-12
                                    .form-group
                                        input.form-control([(ngModel)]='internship.link', name='link', placeholder='Link')

                                    .form-group
                                        input.form-control([(ngModel)]='internship.description', name='description', placeholder='Description')

                            .row
                                .col-md-4(*ngIf='uploader && uploader.getNotUploadedItems().length == 0')
                                    .fileUpload.btn.btn-primary
                                        span(*ngIf='!isEditing') Upload Logo

                                        span(*ngIf='isEditing') Change Logo

                                        input.upload(type='file', ng2FileSelect [uploader]='uploader')

                                .col-md-4(*ngIf='uploader && uploader.getNotUploadedItems().length > 0')
                                    div(*ngFor='let item of uploader.queue')
                                        | {{item?._file.name}}
                                        button.btn.btn-danger.btn-xs(type='button', (click)='item.remove()')
                                            span.glyphicon.glyphicon-trash
                                                |  Remove
                            .row
                                .col-md-4
                                    .btn-group
                                        button.btn.btn-success((click)='updateInternship()') Save Internship
                                        button.btn.btn-danger(*ngIf='internship.id', (click)='deleteInternship()') Delete

