<div class="row">
    <div class="col-md-12">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card">
                    <div class="row">
                        <!-- internship-form -->
                        <div class="col-md-12">
                            <img class="card-img-top img-thumbnail" src="{{internship.logo}}">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input  class="form-control"
                                                [(ngModel)]="internship.link"
                                                name="link"
                                                placeholder="Link" />
                                    </div>
                                    <div class="form-group">
                                        <input  class="form-control"
                                                [(ngModel)]="internship.description"
                                                name="description"
                                                placeholder="Description " />
                                    </div>
                                </div>
                            </div>

                            <!--if internship is on edit mode -->
                            <div *ngIf="internship.id" class="row">
                                <div class="col-md-12">
                                    <button (click)="isChanging = true">Change Photo</button>
                                </div>
                            </div>

                            <div class="row">
                                <!--when there is the internship photo and change photo button is clicked -->
                                <!--then the upload drop zone is opened-->
                                <div *ngIf="internship.id && isChanging">
                                    <div class="col-md-4"
                                         *ngIf="uploader && uploader.getNotUploadedItems().length == 0">
                                        <div ng2FileDrop
                                             [ngClass]="{'file-over': hasBaseDropZoneOver}"
                                             (fileOver)="fileOverBase($event)"
                                             [uploader]="uploader"
                                             class="well my-drop-zone">
                                            Drop a photo here
                                        </div>
                                        <input type="file" ng2FileSelect [uploader]="uploader" />
                                    </div>
                                </div>
                                <!--end of edit mode-->

                                <!--upload a photo on the new club form-->
                                <div *ngIf="!internship.id">
                                    <div class="col-md-4"
                                         *ngIf="uploader && uploader.getNotUploadedItems().length == 0">
                                        <div ng2FileDrop
                                             [ngClass]="{'file-over': hasBaseDropZoneOver}"
                                             (fileOver)="fileOverBase($event)"
                                             [uploader]="uploader"
                                             class="well my-drop-zone">
                                            Drop a photo here
                                        </div>
                                        <input type="file" ng2FileSelect [uploader]="uploader" />
                                    </div>
                                </div>
                                <!--end of uploading drop zone-->

                                <div class="col-md-4"
                                     *ngIf="uploader && uploader.getNotUploadedItems().length > 0">
                                    <div *ngFor="let item of uploader.queue">
                                        {{item?._file}}
                                        <button type="button" class="btn btn-danger btn-xs"
                                                (click)="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-success"
                                            (click)="updateInternship()">Save Internship</button>

                                    <button class="btn btn-success"
                                            *ngIf="internship.id" (click)="deleteInternship()">Delete</button>
                                </div>
                            </div>
                            <!-- internship form end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

