//post header name
.post-profile-header {
  background-color: #E1DFE0;
  height: 120px;
  position: absolute;
  width: 100%;
}

//post body details
.post-details {
  margin-bottom: 30px;
  margin-top: 20px;

  //post tile
  .post-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
    color: black;
    font-size: 35px;
    line-height: 37px;
  }
  //post photo and content & their hover styles
  p.post-containerNews {
    height: 100%!important;
    background-color: white;
    box-shadow: 0 0.250em 0.250em 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0.500em 0.750em 0 rgba(0, 0, 0, 0.2);
    }
  }
}

