navbar
header(headerName='members')

.container-fluid
  .row.team-members((click)='unExpand($event)')
    .col-md-9.col-centered
      .row
         .col-xs-3.col-md-2.col-centered.members-profile(*ngFor='let member of listing.collection',[ngClass]="{'activeProfile':member === selectedMember}")
             button.btn.btn-primary.more-info(type='button',(click)="expandClick(member)") Default
             img.member-image(src='{{member.photo}}', alt='{{member.name}}')
             h5.member-name {{member.name}}
             h5.member-title {{member.title}}
             .row
               p.member-description Description
               p.description-body {{member.description}}

      .col-centered.pagination
          pagination([totalItems]='listing.count', [(ngModel)]='currentPage', (pageChanged)='pageChanged($event)')
home-footer
