//centering all the row's and column's "profiles"
.row-centered, .col-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
//img {
//  border-radius: 0.313em 0.313em 0 0;
//  height: auto;
//  display: block;
//  max-width: 10.000em;
//}