navbar
.container-fluid
  .row
    .col-xs-12.col-md-12.main-header
     .container
      .row
        .col-xs-12.col-sm-4.col-md-4
          a.header-link()
          h4.header-name MEMBERS

  .row
    .col-md-9.row-centered
      .row
        .col-xs-3.col-md-2.col-centered(*ngFor='let member of listing.collection')
          img(src='{{member.photo}}', alt='{{member.name}}')
          h4.card-title {{member.name}}
          p.card-text
             small.text-muted {{member.title}}

          p.card-text {{member.description}}


//pagination([totalItems]='listing.count', [(ngModel)]='currentPage', (pageChanged)='pageChanged($event)')
//home-footer
