navbar
header(headerName='members',(click)='selectedMember = undefined')

.container-fluid.container-members((click)='selectedMember = undefined')
  .row.team-members(*ngIf="loadingSpinner === false")
    .col-md-9.col-centered
      .row
         .col-xs-3.col-md-2.col-centered.members-profile(*ngFor='let member of listing.collection',[ngClass]="{'activeProfile':member === selectedMember}",(click)="$event.stopPropagation()")
             img.member-image(src='{{member.photo}}', alt='{{member.name}}')
             h5.member-name {{member.name}}
             h5.member-title {{member.title}}
             .member-button
                button(type='button',(click)="expandClick(member)") More Info
             .row
               p.member-description Description
               p.description-body {{member.description}}

      .col-centered.pagination

          pagination([totalItems]='listing.count', [(ngModel)]='currentPage', (pageChanged)='pageChanged($event)')
  .row(*ngIf="loadingSpinner === true")



home-footer
