navbar
.main-header
  .container
    .row
      .col-md-6
        a.header-link((click)='loadProfessors(1,10)')
          h4.header-name CLUBS

      .col-md-5
        .row
          .col-md-12.professor-search
            professor-search((selectedSearchItem)='goToProfessor($event)')
          .col-xs-12.filtered-dept
            professor-departments((filteredDept)="filterDepts($event)",(outputDepts)='sideDepts($event)')

.container
      .row
        .col-xs-12
          h1.display-4 Clubs

      .row
        .card-deck-wrapper
          .card-deck
            .card.card-inverse(*ngFor='let club of listing.collection')
              div(routerLink='../club/{{club.id}}')
                img.card-img.img-fluid(src='{{club.logo}}', alt='{{club.name}}')

                .card-img-overlay
                  h4.card-title {{club.name}}

                  p.card-text President:&nbsp;{{club.president}}
home-footer

