.clubs{
    background-color: #D3D3D3;
}

.card-img {
    height: inherit;
}

/*.card {*/
/*max-width: 18%;*/
/*}*/

.card.card-inverse {
    width: 230px;
    margin: 5px;
}

.card-img-overlay {
    background: rgba(25, 25, 25, 0.4);
    display: none;
}

.card:hover .card-img-overlay {
    display: block;
}