<div class="row">
    <div class="col-md-12">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card">
                     <div class="row">
                        <div class="col-md-12">
                         <img src="{{club.logo}}" class="img-thumbnail">

                             <div class="form-group">
                                 <input  class="form-control" [(ngModel)]="club.name" name="name" placeholder="Name" />
                             </div>
                             <div class="form-group">
                                 <input  class="form-control" [(ngModel)]="club.president" name="president" placeholder="President" />
                             </div>

                         </div>
                    </div>

                <div class="row">

                    <div class="col-md-4" *ngIf="!club.logo && uploader && uploader.getNotUploadedItems().length == 0">
                        <div ng2FileDrop
                             [ngClass]="{'file-over': hasBaseDropZoneOver}"
                             (fileOver)="fileOverBase($event)"
                             [uploader]="uploader"
                             class="well my-drop-zone">
                            Drop a logo here
                        </div>
                        <input type="file" ng2FileSelect [uploader]="uploader" />
                    </div>
                    <div class="col-md-4" *ngIf="uploader && uploader.getNotUploadedItems().length > 0">
                        <div *ngFor="let item of uploader.queue">

                            {{item?._file}}

                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-success" (click)="updateClub()">Save Club</button>

                    </div>
                 </div>
                </div>
            </div>
        </div>
    </div>
</div>