
<div class="row"  *ngIf="!isEdited">
    <div class="col-xs-3">
        <a routerLink="../../team_members" class="btn btn-primray ">Back</a>

    </div>
</div>



<div class="row">
    <div  *ngIf="!isEdit" class="col-md-4 col-xs-12">
        <team-profile></team-profile>

        <div class="btn-group">
            <button (click)="deleteMember(member)" class="btn btn-danger">Delete Member</button>
            <button  class="btn btn-warning" (click)="isEdit = true">Edit Member</button>
        </div>
    </div>
    <div *ngIf="isEdit" class="col-md-4 col-xs-12">

        <member-form [inputMember]="member" (outputMember)="updateMember($event)"></member-form>
        <a  class="btn btn-primray " (click)="isEdit = false">Cancel</a>
    </div>


</div>
