//
   Created by Centroida-2 on 10/27/2016.
.container-fluid.fluid-bread
    .container
        .breadcrumb(*ngFor='let breadcrumb of breadcrumbs')
            |{{breadcrumb | json}}
            li.breadcrumb.list
                a((click)="goToParentRoute(breadcrumb.name)") {{breadcrumb.name}}
            li.breadcrumb.list
                a([routerLink]='[breadcrumb.url, breadcrumb.params]') {{breadcrumb.label}}
