.row
    .col-xs-12
        .card-deck-wrapper
          .card-deck
            .card
              img.card-img-top.img-thumbnail(src='{{member.photo}}')

              .card-block
                h4.card-title {{member.title}}

                h3.card-title {{member.name}}

                p {{member.description}}
