h1 Professors
.row
    .col-md-4
        button.btn.btn-primary((click)="isCollapsed = !isCollapsed", type = "button") New Professor
        div([collapse]='isCollapsed')
            professor-form((outputProfessor)="addProfessor($event)")

professor-search((selectedSearchItem)='goToProfessor($event)')
professor-departments((filteredDept)="filterDepts($event)")
.list-group
    a.list-group-item.list-group-item-action(*ngFor="let professor of listing.collection")
        .media(routerLink="../professor/{{professor.id}}")
            a.media-left
                img.img-circle.media-object.media-img(src="{{professor.photo}}", alt="{{professor.name}}")
            .media-body
                h4.media-heading {{professor.name}}
                small.text-muted
                    | {{professor.department}}
                |                  {{professor.description}}

pagination([totalItems]="listing.count", [(ngModel)]="currentPage", (pageChanged)="pageChanged($event)")
