<div class="row">
    <div class="col-md-12">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Application-form -->
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <input  class="form-control" [(ngModel)]="application_template.name" name="name" placeholder="Name" />
                                    </div>
                                    <div class="form-group">
                                        <input  class="form-control" [(ngModel)]="application_template.description " name="description" placeholder="Description " />
                                    </div>

                                </div>
                            </div>


                            <div class="row">

                                <div class="col-md-4" *ngIf="uploader && uploader.getNotUploadedItems().length == 0">
                                    <div class="fileUpload btn btn-primary">
                                        <span *ngIf="!isEditing">Upload Document</span>
                                        <span *ngIf="isEditing">Change Document</span>
                                        <input type="file" class="upload" ng2FileSelect [uploader]="uploader" />
                                    </div>

                                </div>

                                <div class="col-md-4" *ngIf="uploader && uploader.getNotUploadedItems().length > 0">
                                    <div *ngFor="let item of uploader.queue">
                                        {{item?._file}}
                                        <button type="button" class="btn btn-danger btn-xs"
                                                (click)="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-success" (click)="updateApplication()">Save Application</button>
                                </div>
                            </div>
                            </div>
                            <!-- Application form end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

