<div class="row">
    <div class="col-md-12">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Application-form -->
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <input  class="form-control" [(ngModel)]="application_template.name" name="name" placeholder="Name" />
                                    </div>
                                    <div class="form-group">
                                        <input  class="form-control" [(ngModel)]="application_template.description " name="description" placeholder="Description " />
                                    </div>

                                </div>
                            </div>

                            <!--if application_template is on edit mode -->
                            <div *ngIf="application_template.document" class="row">
                                <div class="col-md-12">
                                    <button (click)="isChanging = true">Change Document</button>
                                </div>
                            </div>

                            <div class="row">
                                <!--when there is an application_template document and change document button is clicked -->
                                <!--then the upload drop zone is opened-->
                                <div *ngIf="application_template.document && isChanging">
                                    <div class="col-md-4" *ngIf="uploader && uploader.getNotUploadedItems().length == 0">
                                        <div ng2FileDrop
                                             [ngClass]="{'file-over': hasBaseDropZoneOver}"
                                             (fileOver)="fileOverBase($event)"
                                             [uploader]="uploader"
                                             class="well my-drop-zone">
                                            Drop the Document here
                                        </div>
                                        <input type="file" ng2FileSelect [uploader]="uploader" />
                                    </div>
                                </div>
                                <!--end of edit mode-->

                                <!--upload a document on the new application form-->
                                <div *ngIf="!application_template.document">
                                    <div class="col-md-4" *ngIf="uploader && uploader.getNotUploadedItems().length == 0">
                                        <div ng2FileDrop
                                             [ngClass]="{'file-over': hasBaseDropZoneOver}"
                                             (fileOver)="fileOverBase($event)"
                                             [uploader]="uploader"
                                             class="well my-drop-zone">
                                            Drop the Document here
                                        </div>
                                        <input type="file" ng2FileSelect [uploader]="uploader" />
                                    </div>
                                </div>
                                <!--end of uploading drop zone-->

                                <div class="col-md-4" *ngIf="uploader && uploader.getNotUploadedItems().length > 0">
                                    <div *ngFor="let item of uploader.queue">
                                        {{item?._file}}
                                        <button type="button" class="btn btn-danger btn-xs"
                                                (click)="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-success" (click)="updateApplication()">Save Application</button>
                                </div>
                            </div>
                            </div>
                            <!-- Application form end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

