.row
    .col-md-12
        .card-deck-wrapper
            .card-deck
                .card
                    .row
                        .col-md-12
                            .row
                                .col-md-12

                                        form([formGroup]='form' , (ngSubmit)='onSubmit()')
                                            .form-group
                                                label(for='name') Name
                                                    input#name.form-control([formControl]="name",type='text', required , name='name', [(ngModel)]='application_template.name')
                                                    .alert.alert-danger(*ngIf='name.errors && (name.dirty || name.touched)')
                                                        div([hidden]='!name.errors.required')
                                                            | Name is required


                                            .form-group
                                                label(for='description') Description
                                                    input#description.form-control([formControl]="description",type='text', required , name='description', [(ngModel)]='application_template.description')
                                                    .alert.alert-danger(*ngIf='description.errors && (description.dirty || description.touched)')
                                                        div([hidden]='!description.errors.required')
                                                            | Description is required

                                            .row
                                                .col-md-4(*ngIf='uploader && uploader.getNotUploadedItems().length == 0')
                                                     .fileUpload.btn.btn-primary
                                                        span(*ngIf='!isEditing') Upload Document

                                                        span(*ngIf='isEditing') Change Document

                                                        input.upload(type='file', ng2FileSelect [uploader]='uploader')

                                            .row
                                                .col-md-4(*ngIf='uploader && uploader.getNotUploadedItems().length > 0')
                                                     div(*ngFor='let item of uploader.queue')
                                                        | {{item?._file.name}}
                                                        button.btn.btn-danger.btn-xs(type='button', (click)='item.remove()')
                                                            span.glyphicon.glyphicon-trash
                                                            |  Remove
                                            .row
                                                .col-md-4
                                                      button.btn.btn-success(type='submit',[disabled]='!form.valid || uploader.queue.length == 0') Save Application