footer.footer
    .container.footer-body
        small#cntr
            span.text-muted Open-source project by
            a(href='http://centroida.co/' )
                img(src='/assets/img/centroida_logo.png')
                | Centroida &nbsp;
            span.text-muted View on
            a(href='https://github.com/Centroida/sg-app-client' target='_blank')
                | &nbsp; Github &nbsp;
                i.fa.fa-github.fa-1x
            | &nbsp;&nbsp;/&nbsp;&nbsp;
            a.login(routerLink='/admin/login')  Log in

        a.pull-right(href="www.facebook.com")
            i.fa.fa-facebook-square.fa-2x

