/* Sticky footer styles
-------------------------------------------------- */

body {
    /* Margin bottom by footer height */
   //margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color: #05162E;
    padding: 15px 0;
    /*margin-top: 20px;*/
}

.login {
    color: red;
}


