footer.footer
    .container
      .row
        .col-xs-8
            span.text-muted © Copyrights 2016. All rights reserved. Created by -
            a(href='http://centroida.co/') Centroida
            | -

            a.login(routerLink='/admin/login') Log in
        .col-xs-4.social
                a(href='https://www.facebook.com/sg.aubg/')
                    img(src='/assets/icon/fb.png' alt='')