/* Sticky footer styles
-------------------------------------------------- */

body {
  /* Margin bottom by footer height */
  //margin-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #05162E;
  height: 70px;

  /*margin-top: 20px;*/
  a {
    color: #fff;
  }
}

#cntr {
  line-height: 70px;
  a {
    color: white;
  }

  img {
    height: 18px;
    width: auto;
  }
}

