.main-header
    .container
        .row
            .col-md-6
                h4.header-name
                    |{{headerName | uppercase}}
            .col-md-5.col-md-offset-1
                ng-content
